.App {
  background-color: #AFD4C0;
  height: 100vh;
}

.App-header {
  background-color: #519872;
  height: 10vh;
  display: flex;
  align-items: center;
  padding-left: 30vw;
  color: white;
}

.Center{
  background-color: #E5F4EC;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 60vw;
  height: 90vh;
}
h1{
  margin-top: 0;
}
.listing{
  background-color: #DEDEDE;
  display: flex;
  justify-content: space-between;
  margin: 1vw;
  padding: 1vw;
}